:root {
    --nav-color: #222e3a;
    --header-color: #bdc4c0;
}

.main-header {
    background-color: var(--header-color);
}

#main-header-brand {
    color: var(--nav-color);
    font-weight: bold;
}