<?xml version='1.0' encoding='UTF-8' ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/template.xhtml">

        <ui:define name="title">eClinic-info</ui:define>
        <ui:define name="head">eClinic-info</ui:define>
        <ui:define name="content">

            <div id="header">
                <h2>Today</h2>
                <p > updated at <h:outputText id="updated" value="#{eventsBean.updated}" /></p>
            </div>

            <h:dataTable id="events" value="#{eventsBean.events}" var="event" styleClass="table table-striped">
                <h:column>
                    <f:facet name="header">Time</f:facet>
                    #{event.time}
                </h:column>
                <h:column>
                    <f:facet name="header">Patient</f:facet>
                    #{event.patient}
                </h:column>
                <h:column>
                    <f:facet name="header">Type</f:facet>
                    #{event.treatmentType}
                </h:column>
                <h:column>
                    <f:facet name="header">Treatment</f:facet>
                    #{event.treatment}
                </h:column>
            </h:dataTable>

            <h:form>
                <f:websocket channel="push">
                    <f:ajax event="updateEvents" render="events updated"/>
                </f:websocket>
            </h:form>

        </ui:define>

    </ui:composition>
</html>

