<?xml version='1.0' encoding='UTF-8' ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="icon" type="image/png"
              href="#{request.contextPath}/resources/images/favicon-package/favicon-32x32.png"/>
        <h:outputStylesheet library="css" name="bootstrap.min.css"/>
        <h:outputStylesheet library="css" name="eclinic-info.css"/>
        <title>#{eventsBean.companyName} today</title>
    </h:head>

    <body>
        <div class="main-header navbar navbar-expand-lg navbar-dark">
            <a id="main-header-brand" class="navbar-brand" href="/">
                <h:graphicImage value="resources/images/logo.svg" alt="logo" height="32" />
                <ui:insert name="companyName">#{eventsBean.companyName}</ui:insert>
            </a>
        </div>
        <div id="container" class="container-fluid">

            <div id="space">
                <p></p>
            </div>

            <div id="content">
                <ui:insert name="content"/>
            </div>
        </div>
    </body>
</html>
